body {
  background-color: rgb(243, 242, 242);
  padding: 50px;
  font: 14px Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00B7FF; */
  text-decoration: none;
}

.ads-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.ad-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 1rem;
  position: relative;
  width: 200px;
}

.ad-title{
  font-size: 1.1rem;
}

.tags{
  font-size: .75rem;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color:darkgray;
}
